* {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 177, 127);
    color: white;
    font-size: 35px;

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}